.jumbotron {
    margin-top: 40px;
    background-color: yellow;
    color: black;

}

.footer{
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 20px;
}

.btn{


}

.card-hotel{
    flex: 1 150px; 
    margin-top: 10px;
}

.btn-reserva{
    background-color:turquoise;
    color: white;
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.imgppal{
    margin-left: auto;
    margin-right: auto;
}
.tab-content{
    padding-top: 10px;
}