$red: #f77f77;
$yellow: #f7f777;
$green: #a8f777;

@mixin margins($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    @include margins(40px,0px);
    background-color: $yellow;
    color: black;

}

.footer{
    background-color: $yellow;
    @include margins(20px,0px);
}

.card-hotel{
    flex: 1 150px;
    @include margins(10px,0px ); 
}

.btn-reserva{
    background-color:turquoise;
    color: white;
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.imgppal{
    margin-left: auto;
    margin-right: auto;
}
.tab-content{
    padding-top: 10px;
}