.jumbotron {
  margin-top: 40px;
  margin-bottom: 0px;
  background-color: #f7f777;
  color: black; }

.footer {
  background-color: #f7f777;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  background-color: turquoise;
  color: white;
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.imgppal {
  margin-left: auto;
  margin-right: auto; }

.tab-content {
  padding-top: 10px; }
